.container-image {
    position: relative;

    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
    border: 2px solid #949494;

    width: 60vw;
    height: 70vh;

    overflow: hidden;

    .tittle {
        height: fit-content;
        width: 500px;
        position: absolute;
        transform: translateY(-190px);
        
    }

    
}