@media screen and (max-width: 768px) {
    #root {
        padding: 0;
    }
    .container-image {
        position: relative;
    
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 32px;
        border: 2px solid #949494;
    
        width: 100vw;
        height: 70vh;
    
        overflow: hidden;
        padding: 0;
    
        .tittle {
            height: fit-content;
            width: 400px;
            position: absolute;
            transform: translateY(-220px);
            z-index: 2;
        }
        .title-name {
            font-size: 2.5rem;
            color: #fff;
            text-align: center;
            font-weight: 700;
            text-shadow: 0px 0px 10px #000;
        }

        .message {
            color: #fff;
            text-align: center;
            font-weight: 700;
            text-shadow: 3px 3px 2px #000;
            font-size: 24px;
            z-index: 1;
        }

        #img1 {
            position: absolute;
            top: 440px;
            transform: translateX(125px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img2 {
            position: absolute;
            top: 170px;
            transform: translateX(125px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img3 {
            position: absolute;
            top: 493px;
            transform: translateX(-127px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img4 {
            position: absolute;
            top: 223.9px;
            transform: translateX(-177px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    
        
    }
}

@media screen and (min-width: 768px) {
    .container-image {
        position: relative;
    
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 32px;
        border: 2px solid #949494;
    
        width: 60vw;
        height: 70vh;
    
        overflow: hidden;
    
        .tittle {
            height: fit-content;
            width: 500px;
            position: absolute;
            transform: translateY(-190px);
            z-index: 2;
        }
        .title-name {
            font-size: 2.5rem;
            color: #fff;
            text-align: center;
            font-weight: 700;
            text-shadow: 0px 0px 10px #000;
        }
        .message {
            color: #fff;
            text-align: center;
            font-weight: 700;
            text-shadow: 3px 3px 2px #000;
            font-size: 24px;
            z-index: 1;
        }

        #img1 {
            position: absolute;
            top: 440px;
            transform: translateX(225px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img2 {
            position: absolute;
            top: 170px;
            transform: translateX(225px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img3 {
            position: absolute;
            top: 493px;
            transform: translateX(-227px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        #img4 {
            position: absolute;
            top: 223.9px;
            transform: translateX(-377px);
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}